/* 滚动条轨道 */
::-webkit-scrollbar {
    width: 8px; /* 滚动条宽度 */
    background-color: #eee;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background-color: #b36d61; /* 滑块背景颜色 */
    border-radius: 4px; /* 滑块圆角 */
}

/* 滚动条轨道上的按钮（上下箭头） */
::-webkit-scrollbar-button {
    display: none; /* 隐藏按钮 */
}